body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.component-container {
  background-color: rgb(246, 95, 196);
  width: 770px;
}